body, html {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('img.png') no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
}

.container {
  position: relative;
  width: 350px;
  padding: 20px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  color: white;
}

.todo-app h2 {
  text-align: center;
  margin-bottom: 20px;
}

.task-input {
  display: flex;
  margin-bottom: 20px;
  gap: 10px;
}

.task-input input {
  flex: 1;
  padding: 10px;
  border-radius: 20px;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.15);
  color: white;
}

.task-input button {
  background: rgba(255, 255, 255, 0.15);
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  color: white;
  cursor: pointer;
  transition:  0.3s;
}

.task-input button:hover {
  background: black;
}

#task-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.15);
  padding: 10px 15px;
  margin-bottom: 10px;
  border-radius: 15px;
  animation: fadeIn 0.4s ease;
}

.task.completed span {
  text-decoration: line-through;
  opacity: 0.6;
}

.task button {
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
  margin-left: 5px;
  font-size: 14px;
}

.task button:hover {
  color: #ffcccb;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}
